<div>

  <div class="form-group has-success has-feedback"
       ng-class="{'has-success':ctl.isValid(),'has-error':!ctl.isValid()}">
    <label ng-if="ctl.label"
           class="control-label"
           for="((::ctl.name}}">{{::ctl.label}}
    </label>
    <input ng-model="ctl.entry"
           type="text"
           class="form-control "
           name="((::ctl.name}}"
           placeholder="{{::ctl.placeholder}}">
    <span class="glyphicon form-control-feedback"
          ng-class="{'glyphicon-ok':ctl.isValid(),'glyphicon-remove':!ctl.isValid()}"
          aria-hidden="true"></span>
    <span id="inputSuccess2Status"
          class="sr-only">(success)</span>
  </div>
  <ul class="nav nav-pills"
      role="tablist">
    <li role="presentation"
        ng-repeat="value in ctl.validList track by $index"
        class="active">
      <button type="button"
              class="btn btn-primary btn-xs"
              ng-click="ctl.restoreEntry($index)">
        {{value}}
        <i class="glyphicon glyphicon-remove"
           ng-click="ctl.removeEntry($index)"></i>
      </button>
    </li>
  </ul>
</div>